* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

header nav {
    height: 4em;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    height: 4em;
    line-height: 4em;
    margin: 0 1em;
    color: #ABABAF;
}

header nav a:hover {
    color: #52575d;
    border-bottom: 0.2em solid #30C986;
}

header span a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 15em;
    font-weight: 800;
    border-radius: 2em;
    background: linear-gradient(to left, #2CBBC7 0%, #31D069 75%);
}

header span a:hover {
    background: linear-gradient(to right, #00ff99 0%, #33cccc 100%);
}

.introduction {
    display: flex;
    justify-content: space-around;
    background-color: #FAFAFA;
    margin-top: 1rem;
    align-items: start;
    height: 40rem;
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 60rem -17.5rem;
}

.introduction .mobile-image {
    flex: 1 1 50%;
    height: 120%;
    overflow: hidden;
}

.introduction .mobile-image img {
    position: relative;
    bottom: 20%;
    left: 15%;
}

.introduction .description {
    flex: 1 1 50%;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.introduction .description .heading {
    font-size: 3em;
    color: #595869;
}

.introduction .description .information {
    color: #ABABAF;
    line-height: 2rem;
    margin: 2rem 0;
}

.introduction .description a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 15em;
    font-weight: 800;
    border-radius: 2em;
    background: linear-gradient(to left, #2CBBC7 0%, #31D069 75%);
}

.introduction .description a:hover {
    background: linear-gradient(to right, #00ff99 0%, #33cccc 100%);
}

.features {
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
}

.features .reason {
    margin: 6rem 10rem 3rem 10rem;
    width: 40%;
    flex: 1;
}

.features .reason .question {
    font-size: 2em;
    color: #41444b;
}

.features .reason .answer {
    color: #ABABAF;
    margin: 1rem 0;
    padding-right: 6rem;
    line-height: 1.5rem;
}

.features-individual {
    display: flex;
    margin: 0 18rem 6rem 10rem;
}

.features-individual .feature {
    padding-right: 3rem;
    line-height: 1.5rem;
    color: #ABABAF;
}

.features .feature-heading {
    margin: 2rem 0;
    font-size: 1.5em;
    color: #41444b;
}

.articles-section {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.articles-section .articles-heading {
    font-size: 2em;
    color: #41444b;
    margin: 6rem 10rem 3rem 10rem;
}

.articles-container {
    display: flex;
    margin: 0 18rem 6rem 10rem;
}

.articles-container .article {
    margin-right: 1rem;
    background-color: #fff;
    height: fit-content;
}

.articles-container .article .article-img{
    height: 40%;
}

.articles-container .article .article-img img {
    width: 100%;
    height: 100%;
}

.articles-container .article-link {
    padding: 0 2rem;
}

.articles-container .article-author {
    color: #ABABAF;
    font-size: 0.8em;
    padding: 2rem 0;
}

.articles-container a {
    color: #41444b;
    font-size: 1.2em;
    text-decoration: none;
}

.articles-container .article-title:hover {
    color: #33CF72;
}

.articles-container .article-description {
    color: #ABABAF;
    padding: 1rem 0 1rem 0;
}

footer {
    background-color: #2D314E;
    color: #fff;
}

.footer-all {
    margin: 0 18rem 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-all .bank-logo-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-all .bank-logo-socials .logo {
    padding-bottom: 4rem;
}

.footer-all .bank-logo-socials .social-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-all .bank-logo-socials .social-links .social:hover {
    filter: sepia() saturate(10000%) hue-rotate(60deg);
}

.footer-all .other-links {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 15rem 0 0;
    padding: 2rem 0;
}

.footer-all .other-links a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    padding: 0.5rem 1rem;
}

.footer-all .other-links a:hover {
    color: #33CF72;
}

.footer-all .request-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-all .request-copyright .request {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    text-align: center;
    width: 10em;
    font-weight: 800;
    border-radius: 2em;
    margin-left: 4rem;
    background: linear-gradient(to left, #2CBBC7 0%, #31D069 75%);
}

.footer-all .request-copyright .request:hover {
    background: linear-gradient(to right, #00ff99 0%, #33cccc 100%);
}

.footer-all .request-copyright .copyright {
    font-size: 0.8em;
    color: #ABABAF;
    padding: 1rem;
}

@media all and (max-width:66em) {
    header {
        height: 3em;
        justify-content: space-between;
    }
    header a {
        margin-left: 2em;
    }
    header nav a {
        display: none;
    }
    header span a {
        display: none;
    }
    .introduction {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        background-image: url("images/bg-intro-mobile.svg");
        background-position: 0 0;
        background-size: contain;
    }
    .introduction .mobile-image {
        overflow: hidden;
        max-height: auto;
    }
    .introduction .mobile-image img {
        bottom: 8rem;
        left: 0%;
        width: 100%;
        height: 100%;
    }
    .introduction .description {
        order: 1;
        margin: 0 3rem 3rem 3rem;
        align-items: center;
    }
    .features .reason {
        text-align: center;
        width: auto;
        margin: 2rem;
    }
    .features .reason .question {
        margin: 0 3rem 0 3rem;
    }
    .features-individual {
        flex-direction: column;
        margin: 0;
    }
    .features .reason .answer {
        padding-right: 0;
    }
    .features-individual .feature {
        padding: 0;
        margin: 1rem 1rem;
    }
    .features-individual .feature {
        text-align: center;
    }
    .articles-section .articles-heading {
        margin: 2rem 2rem;
        text-align: center;
    }
    .articles-container {
        flex-direction: column;
        margin: 2rem 2rem;
    }
    .articles-container .article-author {
        padding: 2rem 0 1rem 0;
    }
    .articles-container .article {
        padding-bottom: 1rem;
    }
    .footer-all {
        margin: 1rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-all .bank-logo-socials .logo {
        padding: 1rem;
    }
    .footer-all .other-links {
        align-items: center;
        flex-wrap: nowrap;
        margin: 1.5rem;
    }
    .footer-all .other-links a {
        padding: 0.5rem;
    }
    .footer-all .request-copyright {
        align-items: center;
    }
    .footer-all .request-copyright .request {
        margin: 0;
    }
    .footer-all .request-copyright .copyright {
        padding: 1rem;
    }
}